# API
VITE_API_BASE_URL=http://localhost:8000
VITE_API_PREFIX=/api/v1

# Supabase
VITE_SUPABASE_URL=https://your-project-id.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon-key
VITE_SUPABASE_AVATARS_BUCKET=avatar
VITE_SUPABASE_PRODUCTS_BUCKET=products

# App
VITE_APP_NAME=Artysy
VITE_APP_URL=http://localhost:5173

# Feature flags
VITE_ENABLE_DEVTOOLS=true
